<style type="text/css">
    h1 {
      size: 350px;
      text-align: center;
    }
    h2 {
      size: 150px;
      color: #6897BB;
      font-style: italic;
    }
    h3 {
      size: 75px;
      color: #68AABB;
    }
  </style>
<div class="col-sm-12">
    <div class="thumbnail">
     
<h1>Chiffres et mesure du risque de cancer</h1>
<h2>La prévention primaire des cancers</h2>

<p>La prévention primaire des cancers concerne le grand public et s'articule autour de campagnes d'information (illustration : une ancienne campagne d'affichage de la Ligue contre le cancer). C'est l'ensemble des mesures destinées à éviter la survenue d'une pathologie. La lutte contre le tabagisme s'intègre dans ce type de prévention. C'est aussi le cas de la lutte contre l'alcoolisme, des conseils nutritionnels qui tendent à modérer la consommation de graisses animales et à augmenter la consommation de fruits et légumes ou la protection des travailleurs dans certains emplois en contact avec des agents à risque avéré.</p>
<h2>La prévention secondaire des cancers</h2>

<p>La prévention secondaire des cancers s'adresse à des individus qui ne sont pas malades mais qui présentent un certain risque. Il s'agit du dépistage, qui consiste à rechercher de façon systématique dans une population en bonne santé les porteurs de symptômes latents. Le dépistage vise à abaisser la mortalité liée au cancer, seul critère permettant de juger de son efficacité.</p>

<h2>La prévention tertiaire des cancers</h2>

<p>
  La prévention tertiaire des cancers s'adresse directement aux malades afin qu'ils abandonnent tout comportement à risque face au cancer.
  Règles à respecter pour limiter les risques de cancer
  Brochure de la Ligue sur les cancers d'origine professionnelle 
  De nombreux produits chimiques, agents physiques ou poussières biologiques peuvent s'avérer extrêmement dangereux pour la santé de l'appareil respiratoire. Ces substances constituent un réel danger en cas d'exposition prolongée et sont souvent à l'origine de cancers professionnels ou environnementaux :
  </p>
  L'amiante, responsable de cancers du poumon
      <h3>La pollution atmosphérique</h3>
      <h3>Le nickel :</h3> Voies nasales et respiratoires
      <h3>L'arsenic :</h3> Cancers de la peau, des poumons, du foie, de la vessie
      <h3>Les rayonnements :</h3> Selon leur type et leur qualité
      <h3>
      Les organismes pathogènes :</h3>
      <p>Il est primordial d'insister sur le fait que le risque pour ces produits de provoquer des cancers est majoré chez les fumeurs.</p>
      
      <h3>Tabagisme et alcoolisme : </h3>
      <p>L'alcool, et particulièrement lorsqu'il est associé au tabac majore le risque de développement des cancers de la langue, de la gorge, de l'œsophage du pharynx, du sein et du foie. En France, 7 % à 10 % des cancers seraient associés à une consommation d'alcool trop importante. Il est conseillé de limiter sa consommation d'alcool à moins de deux verres par jour pour les hommes et moins d'un verre par jour pour les femmes.
      Le tabac est directement responsable de cancers bronchiques, de la vessie ou de la vésicule biliaire. Le tabagisme actif et/ou passif est le premier risque à éradiquer pour un mode de vie équilibré.</p>
      <h3>
      Alimentation et surcharge pondérale
      </h3>
      <p>
      Aujourd'hui, de nombreuses affections cancéreuses sont imputables à un déséquilibre alimentaire. L'influence de l'apport calorique en graisses semble de plus en plus établi dans le développement des cancers du sein, du côlon, de la prostate et de l'endomètre. L'obésité joue un rôle important dans les cancers du côlon chez l'homme et du sein chez la femme.
      Dans ce contexte, surveiller son poids et son alimentation devient essentiel dans le cadre de la prévention du cancer. L'alimentation se doit d'être variée et équilibrée, adaptée aux besoins métaboliques individuels.</p>
      <h3>La sédentarité</h3>
      <p>
      Dans tous les cas, une activité physique adaptée à la condition de chacun s'impose. Moralement et physiquement, les bienfaits de l'activité sportive sont démontrés. Elle contribue à l'entretien et au maintien de la santé. Une demi-heure de marche chaque jour ou une heure d'activité sportive vigoureuse par semaine sont de bonnes habitudes à adopter pour limiter les risques de cancer.</p>
      
      <h3>L'exposition au soleil</h3>
      <p>
      Chez les personnes à peau claire, l'exposition au soleil est un facteur de risque pour les cancers de la peau. Ceux-ci apparaissent principalement au niveau des zones exposées du visage, des bras et des mains. Dans tous les cas, l'utilisation de crèmes solaires à forts indices de protection est vivement encouragée.</p>
      <h2>Moyens et aides possibles pour limiter les risques de cancer</h2>
      La prévention primaire des cancers est l'un des rôles du médecin. 
      <ul>Quelques moyens :
        <li>Le frottis cervico-vaginal diminue la morbidité des cancers du col utérin. Réalisé tous les trois ans (ou plus chez les femmes à risque), il doit être prolongé jusqu'à 65 ans au moins</li>
        <li>La mammographie, en dépistage de masse, abaisse la mortalité chez les femmes de 50 ans et plus</li>
        <li>Le dépistage de masse de certains cancers comme le cancer colorectal</li>
        <li>La vaccination peut dans certains cas être une mesure de prévention primaire d'un cancer</li>
      </ul>
     </div>
  </div>