<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >Fil-App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
           
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div class="map">
            <sebm-google-map 
              [latitude]="lat" 
              [longitude]="lng"
              [zoom]="zoom"
              [disableDefaultUI]=true
              [zoomControl]="true"
              (mapClick)="mapClicked($event)">
              <sebm-google-map-marker *ngIf="lat !=nul && lng !=null" [latitude]="lat" [longitude]="lng">
              <sebm-google-map-info-window>
                   <strong>Vous êtes ici !</strong>
                </sebm-google-map-info-window>
              </sebm-google-map-marker>
              <sebm-google-map-marker 
                *ngFor="let m of markers;let i = index"
                (markerClick)="clickedMarker(m, i)"
                [latitude]="m.lat" 
                [longitude]="m.lng"
                [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)"
                >
                
                <sebm-google-map-info-window>
                   <strong>{{m.name}}</strong>
                   
                </sebm-google-map-info-window>
                </sebm-google-map-marker>
            </sebm-google-map>
          </div>  
        </div>  
    
      
      <div class="col-md-6">
      <div class="thumbnail">
        <img src="../../../favicon.ico" alt="icone compliqué">
        <div class="caption">
          <h2 class="green-text text-center"><strong>Centres Hospitaliers:</strong><br><br></h2>
          <div class="panel-group">
            <div class="list-group">
              <a *ngFor="let centre of centres" class="list-group-item">
                <div class="panel panel-default">
                  <div class="panel-heading">{{centre.nom}}</div>
                  <div class="panel-body">
                    Adresse: {{centre.adr}} <br/> Numéro: {{centre.numero}}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
        </div>  
      </div>

    </div><!-- /.container -->