
<div class="container">		  
	<h1>Information du compte utilisateur</h1>
	<h3>{{ posts.pseudo }}</h3>
	<br>
		<div >
			<label>Pseudo: </label>
			<input [(ngModel)]="posts.pseudo" placeholder="pseudo" />
		</div>
		<br>
		<div >
			<label>Email: </label>
			<input type="email" name="email"[(ngModel)]="posts.email" placeholder="email">
		</div>
		<br>
		<div >
			<label>Adresse: </label>
			<input [(ngModel)]="posts.adresse" placeholder="adresse" />
		</div>
		<br>
		<div >
			<label>Mobile: </label>
			<input [(ngModel)]="posts.mobile" placeholder="mobile" />
		</div>
		<br>
		<div >
			<label>Naissance: </label>
			<input [(ngModel)]="posts.naissance" placeholder="naissance" />
		</div>
		<br>
		<div >
			<label>Pathologie: </label>
			<SELECT name="nom" size="1">
			<OPTION>Cancer de la peau
			<OPTION>Cancer du sein
			<OPTION>Cancer des os
			<OPTION>Tumeur
			</SELECT>
		</div>
		<br>
		<div >
			<label>Hopital: </label>
			<input [(ngModel)]="posts.hopital" placeholder="hopital" />
		</div>
		<br>
		<div >
			<label>Medecin: </label>
			<input [(ngModel)]="posts.medecin" placeholder="medecin" />
		</div>
		<br>
		<div >
			<label>Contact en cas d'urgence: </label>
			<input [(ngModel)]="posts.nom_contact_urgence" placeholder="nom_contact_urgence" />
		</div>
		<br>
		<div >
			<input type="button" (click)="save(posts)" value="Enregistrer modification">    
		</div>
		<h3>{{ validation }}</h3>
		
</div>